* {
    overflow: hidden;
}

body {
    --bgcolor: #140d3a;
    /* --bgcolor: #450404; */
    background-color: var(--bgcolor);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2em;
}

.head {
    margin-top: 1.8em;
    color: rgba(229, 230, 244, 0.783);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.8em;
}

#screen {
    --display: none;
    position: absolute;
    height: 60%;
    left: 10%;
    top: 20%;
    width: 80%;
    display: var(--display);
    background-color: rgba(117, 100, 204, 0.406);
    margin: 0 auto;
    border: 3px solid rgba(201, 194, 244, 0.648);
    border-radius: 7px;
}

#gameover,
#name {
    font-size: 3em;
    font-weight: bold;
}

#gameover {
    --display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    color: rgba(216, 186, 244, 0.578);
    transform: translate(-50%, -50%);
    display: var(--display);
}

#name {
    position: absolute;
    --display: block;
    top: 45%;
    left: 50%;
    color: rgba(216, 186, 244, 0.578);
    transform: translate(-50%, -50%);
    display: var(--display);
}

#start {
    --display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    border-radius: 1.5em;
    padding: .2em .8em;
    display: var(--display);
}

button {
    background-color: red;
}

#ball1,
#ball2,
#ball3,
#ball4 {
    position: absolute;
    --top: 0;
    --right: 0;
    --display: block;
    --ballBg: #e0e0f050;
    background-color: var(--ballBg);
    right: calc(var(--right) * 1%);
    top: calc(var(--top) * 1%);
    font-size: 1.4em;
    letter-spacing: .3em;
    font-weight: bold;
    width: max-content;
    padding: .7em;
    border-radius: 50%;
    display: var(--display);
    box-shadow: 0 0 4px 3px rgba(239, 52, 39, 0.306);
}

#kill {
    width: fit-content;
    margin: 2em auto;
    border-radius: 8px;
}

#kill button {
    font-size: 1.3em;
    border-radius: 1.5em;
    padding: .2em .8em;
    color: rgba(25, 2, 2, 0.817);
}

#kill input {
    font-size: 1.3em;
    border-radius: 1.5em;
    padding: .2em .4em;
    background-color: rgba(246, 247, 249, 0.813);
}