* {
    overflow: hidden;
    background-color: rgb(20, 13, 58);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.head {
    color: rgba(229, 230, 244, 0.783);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.screen {
    height: 60%;
    /* max-height: 30em; */
    width: 80%;
    /* max-width: 60em; */
    background-color: rgba(117, 100, 204, 0.406);
    margin: 0 auto;
    border: 3px solid rgba(201, 194, 244, 0.648);
    border-radius: 7px;
}

button {
    background-color: red;
}

#ball1,
#ball2,
#ball3 {
    position: absolute;
    --left: 0;
    --top: 0;
    --display: block;
    --ballBg: #e0e0f050;
    background-color: var(--ballBg);
    left: calc(var(--left) * 1%);
    top: calc(var(--top) * 1%);
    font-size: 1.4em;
    letter-spacing: .3em;
    font-weight: bold;
    width: max-content;
    padding: .7em;
    border-radius: 50%;
    display: var(--display);
    box-shadow: 0 0 4px 3px rgba(239, 52, 39, 0.306);
}

#kill {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
}

#kill button {
    font-size: 1.3em;
    border-radius: 1.5em;
    padding: .2em .8em;
    color: rgba(25, 2, 2, 0.817);
}

#kill input {
    font-size: 1.3em;
    border-radius: 1.5em;
    padding: .2em .4em;
    background-color: rgba(246, 247, 249, 0.813);
}